$github-dark: #24292f;
$github-highlight: #439aff;
$github-semi-dark: #31383f;
$github-lighter: #f1f1f1;
$github-light-font: #8b8383;
$github-light: #9b9a9a;
$github-gold: #e6c456;

@import '../components/Card/index.scss';
