$github-dark: #24292f;
$github-highlight: #439aff;

@import './views/components/Navbar/index';
@import './views/components/PopularRepositories/index';

body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}
