@import '../../styles/commons.scss';
@import './views/components/Navbar/index.scss';
@import './views/components/PopularRepositories/index.scss';

body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
}
